body {
    background-color:beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


h1 {
    font-size: 2rem;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

h2 {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto; 
}

header >img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0rem;
}

nav {
    background-color:burlywood;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family:custom;
}

nav li{
    font-size: 18px;
    display: inline-block;
    margin: 0.25rem;
}

section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
}


article {
    flex: 1;
    justify-content: center;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    border-radius: 15%;
    border-style: none;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}



footer{
    display: block;
}

footer div {
    align-items: center;
    text-align: center;
}
